.carMap {
  height: 600px;
  width: 100%;
}

.dash {
  margin: 0;
  padding: 0;

}



.buttonCard {
  line-height: 1px;
  text-align: center;
  height: 75px;
  width: 100%;
  border-radius: 0px;
}

#buttonFull {
  background-color: tomato;
}

.colMap {
margin: 0;
padding-left: 0;
}

.colButton {
padding-right: 0;
}

.button {
height: 75px;
text-align: center;
width: 100%;
padding: 0;
border-radius: 0px;
}


.title {
font-size: 1.6em;
}

.icon {
position: absolute;
z-index: 2;
right: 0;
}

#map {
height: 100%;
width: 100%;
}

.mapFull {
  height: calc(100vh - 182px);
  position: relative;
}

.mapActionButton {
position: absolute;
display: block;
top: 25%;
}

.mapActionButton ul {
list-style-type: none;
padding: 0;
margin: 0;
}

div.footer {
display: none;
}

div.full-height {
  /* height: 100%!important; */
}


#soccer-ba {
  background-image: url('./soccer.png');
  background-size: 100% 100%;
  overflow: hidden;
  height: 250px;
}
.match {
  width: 100%;
}

.row {
  width: 100%;
  margin: 0px;
}

.div[class^='col']:last-child {
  padding: 0;
}

.btn-canvase {
  width: 120px;
  height: 80px;
  margin-bottom: 5px;
}